@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
   }

   body {
    background-image: linear-gradient(to right, #BF8A6B, #D9C6BA);
   }

   main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #73493085;
    width: 600px;
    padding: 10px;
    margin: auto;
   }

   h1 {
    color: #734930;
    text-align: center;
    text-shadow: 1px 1px 2px #603c287b;
   }

   h2 {
    color: #734930;
   }
p{
    text-align: justify;
}